{% render 'views/partials/head.liquid', title: 'Events' %}
{% render 'views/partials/header.liquid', title: 'Events' %}

<link href="../style/style.css" rel="stylesheet">
<link href="../style/stylesheet.css" rel="stylesheet">
<link rel="stylesheet" href="../style/style-events.css">

{% comment %} <header>
    <nav class="topnav">
      <img src="../assets/DDAlogo.png" alt="logo" class="logo" height="100px" width="140px" alt="logo-dda">

       <div class="home">
        <a href="https://dutchdigitalagencies.com/">Home</a>
        </div>
    </nav>
  </header> {% endcomment %}

  {% comment %} <header class="titles">
    <h1>Events</h1>
        <p>
        Spraakmakende sprekers. Inspirerende kennissessies.
         Events waar je écht bij wilt zijn.<br>waar je al je vakgenoten weer spreekt.
         Versterk je bureau met kennis en inspiratie over bureaumanagement,<br>
         leiderschap en de laatste ontwikkelingen.
    </p>
  </header> {% endcomment %}

  <section class="page-title-events">
    <a href="/">← TERUG NAAR HOME</a>

    <h1>EVENTS</h1>
    <p> Spraakmakende sprekers. Inspirerende kennissessies. Events waar je écht bij wilt zijn. waar je al je vakgenoten weer spreekt. Versterk je bureau met kennis en inspiratie over bureaumanagement, leiderschap en de laatste ontwikkelingen.</p>
  </section>


<main class="gridview">

{% comment %} {% render 'partials/carousel-overons.liquid' %} {% endcomment %}

{% for event in events %}

  <section class="section-events">
    <img src="https://fdnd-agency.directus.app/assets/{{ event.photo }}">

    <p>{{ event.date }} / {{ event.location }}</p>
    <h2>{{ event.title }}</h2>
    {% comment %} <a href="/event/{{ event.id }}">BEKIJKEN ↗</a> {% endcomment %}
  </section>
    
{% endfor %}   

</main> 

  {% render 'views/partials/foot.liquid', title: 'DDA Publicaties' %}