{% include 'views/partials/header.liquid', title: 'DDA Publicaties' %}

<section class="title-publications">

<a href="/">Ga terug</a>
<h1> Publicaties </h1>
<p>Om er voor te zorgen dat ook jij op de hoogte blijft van het laatste nieuws en interessante opinies met betrekking tot onze branche en digitale innovaties, delen we hier alle content die we of zelf hebben gecreëerd, bijvoorbeeld met input van onze leden, of verkregen hebben via één van onze partners.</p>
</section>

<div class="overview-publications">
    {% for publications in publication %}
        <a href="/publicaties/{{ publication.id }}">
            <img src="{% if publication.photo %}https://fdnd-agency.directus.app/assets/{{ publication.photo }}{% else %}https://media.istockphoto.com/id/887464786/vector/no-cameras-allowed-sign-flat-icon-in-red-crossed-out-circle-vector.jpg?s=612x612&w=0&k=20&c=LVkPMBiZas8zxBPmhEApCv3UiYjcbYZJsO-CVQjAJeU={% endif %}" alt="publicatie-foto">

            <h2 > {{ publication.title }} </h2>
            <p class="topic-list"> {{ publication.topic }} </p>
            <p class="intro-list"> {{ publication.intro }} </p>
        </a>
    {% endfor %}
</div>

<section class="laatste-nieuws-publications">
    {% comment %} hier komt een overzicht van het laatste nieuws {% endcomment %}
</section>


{% include 'views/partials/footer.liquid', title: 'DDA Publicaties' %}