{% render 'views/partials/head.liquid', title: 'Publicaties-detail' %}
{% render 'views/partials/header.liquid', title: 'Publicaties-detail' %}

<link href="../style/style-publications.css" rel="stylesheet">
<link href="../style/style-publications-detail.css" rel="stylesheet">

<link href="../style/stylesheet-2.css" rel="stylesheet">
  
<section class="title-publication-detail">
    <a href="/publicaties" class="go-back-button">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2 h-4 w-4">
          <path d="M19 12H5M5 12L12 19M5 12L12 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      Ga terug  
    </a>
</section>

<section>
  <section class="titel-pagina" style="view-transition-name: VT1">
    <h1> {{ publication.title }} </h1>
    <p>  {{ publication.intro }} </p>
</section>

<section class="content-publication-detail">
    {{ publication.content }}
</section>


<section class="comment-section-publication-detail">
    {% assign messageszero = messages %}
    {% if messageszero.size < 1 %}
        {% render 'views/partials/empty-state.liquid' %}
        {% comment %} hier wordt de empty state weergegeven als er geen comments zijn {% endcomment %}
    {% else %}
    {% for message in messageszero %}
        <div class="comment-1">
            <div class="name-comment-1">
                <h4>{{ message.from | replace: "Miel_", "" }}</h4>
            </div>
            <div class="emoji-comment-1">
                {% if message.emoji == 'laugh' %}😂{% endif %}
                {% if message.emoji == 'angry' %}😡{% endif %}
                {% if message.emoji == 'cry' %}😭{% endif %}
                {% if message.emoji == 'surprised' %}😱{% endif %}
            </div>
            <div class="comment">
                <p>{{ message.text }}</p>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</section>

<section class="comment-form-publications-detail">
          
          <form action="/publicatie/{{ publication.id }}" method="post">
            <input type="hidden" name="publication_id" value="{{ publication.id }}">
            
            <div class="text-comment">
              <textarea name="comment" placeholder="Schrijf hier wat je vindt..." class="publication-detail-textarea"required></textarea>
            </div>
            
            <div class="name-comment">
                <input type="text" name="name" placeholder="naam..." class="publication-detail-input" required>
            </div>

            <div class="emoji-showcase-comment">

            </div>

            <div class="emoji-comment">
                <label for="laugh"> 
                  <input type="radio" class="laugh" value="1" name="star-radio">
                  <span class="emoji-icon">😂</span>
                  <span class="emoji-icon-laugh">😂</span>
                  <div class="check"></div>
                </label>
             
                <label for="cry"> 
                  <input type="radio" class="cry" value="2" name="star-radio">
                  <span class="emoji-icon">😭</span>
                  <span class="emoji-icon-cry">😭</span>
                  <div class="check"></div>
                </label>
    
                <label for="angry"> 
                  <input type="radio" class="angry" value="3" name="star-radio">
                  <span class="emoji-icon">😡</span>
                  <span class="emoji-icon-angry">😡</span>
                  <div class="check"></div>
                </label>
    
                <label for="surprised"> 
                  <input type="radio" class="surprised" value="4" name="star-radio">
                  <span class="emoji-icon">😱</span>
                  <span class="emoji-icon-surprised">😱</span>
                  <div class="check"></div>
                </label>

                <div class="background-text-balloon">
                  <img src="../assets/text-balloon.svg" alt="text-balloon">
                </div>
            </div>
  
            <button type="submit" class="button-publications">
              <span>Verzend</span>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="ml-2 h-4 w-4">
                <path d="M22 2L11 13M22 2L15 22L11 13M22 2L2 9L11 13">
              </svg>
            </button>


          </form>

          <div class="loading-state">
            {% render 'views/partials/loading.liquid' %}
          </div>
</section>


{% render 'views/partials/foot.liquid', title: 'DDA Publicaties' %}